<div class="container">
    <div class="row description-row">
        <div class="col-md-3">
            <img class="img-circle profile-pic" src="./assets/images/profile.jpg">
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-2 text-right">
                    Name:
                </div>
                <div class="col-md-2">
                    Chris Albert
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 text-right">
                    Email:
                </div>
                <div class="col-md-2">
                    chris@lber.com
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 text-right">
                    Github:
                </div>
                <div class="col-md-2">
                    <a href="https://github.com/creasetoph">creasetoph</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        Other stuff here
    </div>
</div>


{{outlet}}
